<!DOCTYPE html>
<html>
<head>
   <title>Skills</title>
   <link rel="stylesheet" type="text/css" href="../static/styles/theme.css">
</head>
<body>
   <div id="skills" align="center" style="
                           background-color: white;
                           margin: 50px 50px 0 50px;
                           border: 2px solid black;
                           padding: 10px;">
      <h1>Write your skills...</h1>
         <form action = "http://localhost:5000/result" method = "POST">
            <input type = "text"  name = "Job" /><br/>
            <button class="button button1">Submit!</button>
         </form>
   </div>
</body>
</html>